.addModal {
  width: 80%;
  display: flex;
  margin-top: 2em;
}

.addModal__button {
  background-color: #414141 !important;
  border: none !important;
}

.addModal__input:focus,
.addModal__button:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}
