.editModal__open-button {
  border: none !important;
  background-color: inherit !important;
  color: white;
  padding: 0px;
  display: flex;
}

.editModal__open-button:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}
